body,
header,
main,
footer,
p,
a,
button,
nav,
h1,
h2,
h3,
div,
img,
hr {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--text);
  list-style: none;
}

.title {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}

.title-button {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.sub-title {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text,
p {
  font-family: "Scope One", serif;
  font-weight: 400;
  font-style: normal;
}

hr {
  color: rgb(0, 0, 0);
}

/* .cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
} 

.julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.scope-one-regular {
  font-family: "Scope One", serif;
  font-weight: 400;
  font-style: normal;
}*/

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--bgd);
  /* background: radial-gradient(#17544D, #0F282A); */
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* border-bottom: 1px solid black; */
  padding: 2em 0;
}

header .social-media {
  position: absolute;
  left: 3%;
}

main {
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
  flex: 1;
}

/* ----------------------------------------
----------------BUTTONS------------------ 
---------------------------------------- */

/* Button Header Stars  */

button {
  cursor: pointer;
}

header button {
  position: relative;
  padding: 0.5em 1.5em;
  background: var(--text);
  font-size: 17px;
  color: var(--bgd);
  border: 2px solid var(--text);
  /* box-shadow: 0 0 0 #fec1958c; */
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--shadow));
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--shadow));
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--shadow));
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--shadow));
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--shadow));
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--shadow));
  z-index: -5;
  transition: all 0.8s ease;
}

header button:hover {
  background: var(--bgd);
  color: var(--text);
  box-shadow: 0 0 25px var(--shadow);
}

header button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 15px var(--shadow));
  z-index: 2;
}

header button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--shadow));
  z-index: 2;
}

header button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--shadow));
  z-index: 2;
}

header button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--shadow));
  z-index: 2;
}

header button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--shadow));
  z-index: 2;
}

header button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--shadow));
  z-index: 2;
}

header button:active {
  transform: scale(0.95);
}

.fil0 {
  fill: var(--text);
}

/* Button header Social Media */

.social-media a {
  font-size: 24px;
  color: var(--text);
  margin: 0;
  padding: 8px;
}

.social-media a:active {
  transform: scale(90%);
}
/* 
.social-media a:hover {
  color: rgba(0, 0, 0, 1);
} */

/* Button header Navbar */

.menu-buttons a {
  font-weight: 800;
  font-size: 1.5em;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.5);
  padding: 0.5em 0.25em;
  /* font-weight: 600; */
  margin: 0 0.5em;
  border-bottom: 0px solid transparent;
  transition: 0.5s border-bottom ease;
  position: relative;
  /* text-transform: uppercase; */
}

.menu-buttons a::after {
  content: ""; /* Contenu vide pour le pseudo-élément */
  position: absolute; /* Positionnement absolu par rapport à l'élément parent */
  left: 0; /* Alignement à gauche */
  bottom: 0; /* Alignement en bas */
  width: 0; /* Largeur initiale de la bordure */
  height: 2px; /* Épaisseur de la bordure */
  background-color: var(--text); /* Couleur de la bordure */
  transition: 0.5s width ease; /* Transition de largeur */
}

.menu-buttons a:hover::after,
.menu-buttons a.selected::after {
  width: 100%; /* Largeur de la bordure à 100% lors du survol ou de la sélection */
}

/* Style supplémentaire pour le lien non survolé */
.menu-buttons a:hover {
  color: var(--text);
}

header .menu-buttons a.selected {
  color: var(--text);
}

/* Buttons Main Work Section */

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}

.navbar {
  position: relative;
  margin: 0 1em;
  height: 3em;
  padding: 0 1.5em;
  border: 2px solid var(--text);
  background: var(--bgd);
  user-select: none;
  white-space: nowrap;
  transition: all 0.05s linear;
  letter-spacing: 1px;
}

.navbar:before,
.navbar:after {
  content: "";
  position: absolute;
  background: var(--bgd);
  transition: all 0.2s linear;
}

.navbar:before {
  width: calc(100% + 6px);
  height: calc(100% - 16px);
  top: 8px;
  left: -3px;
}

.navbar:after {
  width: calc(100% - 16px);
  height: calc(100% + 6px);
  top: -3px;
  left: 8px;
}

.navbar:hover {
  cursor: crosshair;
}

.navbar:active {
  transform: scale(0.95);
}

.navbar:hover:before {
  height: calc(100% - 32px);
  top: 16px;
}

.navbar:hover:after {
  width: calc(100% - 32px);
  left: 16px;
}

.navbar span {
  font-size: 16px;
  z-index: 3;
  position: relative;
  font-weight: 700;
  /* text-transform: uppercase; */
}

.buttons-container .navbar.selected {
  border: none;
  color: whitesmoke;
}

.navbar.selected::before,
.navbar.selected::after {
  background-color: var(--text);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Button main Box */

.box-button {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
}

.box-button button {
  color: var(--text);
  background-color: var(--bgd);
  opacity: 0;
  flex-grow: 1;
  border: none;
  padding: 1em 0;
  transition: opacity 0.5s;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.box:hover .box-description {
  opacity: 1;
}

.box-description p {
  color: var(--text);
  padding: 1em;
}

.box:hover .box-button button,
.box-arrow i {
  opacity: 1;
}

.box-button button:hover {
  background-color: rgba(246, 246, 246, 0.7);
}

.disabled {
  background-color: #d8d8d8 !important;
  color: #8a8a8a !important;
  cursor: default;
}

.box-arrow {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  opacity: 0; /* Les icônes sont initialement transparentes */
  transition: opacity 0.3s ease; /* Ajoute une transition pour un effet plus fluide */
}

.box.design:hover .box-arrow {
  opacity: 1; /* Les icônes deviennent visibles au survol de la boîte */
}

.box.design .box-arrow i {
  background-color: rgba(34, 34, 34, 0.5);
  color: var(--bgd);
  cursor: pointer;
  padding: 1em;
}

.box.design .box-arrow i:hover {
  background-color: var(--shadow);
}

.img_logo {
  max-width: 52px;
}

/* Styles pour l'état agrandi et centré */
.box.enlarged {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*width: auto;  Ajustez la largeur selon vos besoins */
  width: 40%;
  max-width: 90vw;
  max-height: 90vh;
  aspect-ratio: 2 / 2; /* Maintient un rapport d'aspect de 1:1 */
  z-index: 1000; /* Assurez-vous qu'il est au-dessus des autres éléments */
  background-color: rgba(
    34,
    34,
    34,
    0.9
  ); /* Optionnel : un fond semi-transparent pour focaliser */
  transition: all 0.5s ease;
  height: auto;
}

.box-description {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  padding: 1em 0;
  width: 100%;
}

.box-description-fix {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  padding: 1em 0;
  width: 100%;
}

.box-description-fix p {
  padding: 1em;
}

.opacity {
  opacity: 0;
  transition: opacity 0.5s;
}

/* Agrandir les images dans l'état agrandi */
.box.enlarged .image img {
  width: 100%; /* Ajustez selon vos besoins */
  height: auto;
}

/* Styles pour les flèches de navigation */
.box-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none; /* Laissez les clics passer à travers les flèches */
}

.box-arrow i {
  pointer-events: all; /* Permettre les clics sur les icônes */
  z-index: 1100; /* Plus élevé que la boîte agrandie */
  cursor: pointer;
}

/* Styles pour le bouton d'agrandissement */
.enlarge-button {
  position: absolute;
  background-color: rgba(34, 34, 34, 0.5);
  top: 10px;
  right: 10px;
  z-index: 1100; /* Assurez-vous qu'il est au-dessus des autres éléments */
  border: none;
  padding: 0.5em;
  cursor: pointer;
  opacity: 0;
  border-radius: 5px;
}

.enlarge-button:hover {
  background-color: rgba(34, 34, 34, 0.8);
}

.enlarge-button i {
  color: var(--bgd);
  font-size: 1em; /* Taille par défaut de l'icône */
  padding: 0.5em;
  opacity: 1;
}

.box.enlarged .enlarge-button i {
  font-size: 1.5em; /* Taille de l'icône en mode agrandi */
}

.box:hover .enlarge-button {
  opacity: 1;
}

/* ----------------------------------------
----------------WORK------------------ 
---------------------------------------- */

.date {
  padding: 1em 0;
}

.box:not(.design):hover .image:not(#image-modelisation) {
  filter: blur(2px); /* Appliquer un flou de 5 pixels lors du survol */
}

.box {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column; /* Modifier la direction de flexbox pour une colonne */
  justify-content: space-between; /* Aligner les éléments avec un espace entre eux */
  gap: 1em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Ajouter une ombre */
}

.box-fix {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column; /* Modifier la direction de flexbox pour une colonne */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Ajouter une ombre */
}

.box-container {
  width: 1232px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.image {
  /* background-image: url(assets/img/img-placeholder.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: filter 0.5s; /* Ajouter une transition douce lors du changement de flou */
}

.section {
  display: none;
  /* position: absolute; PB sors du flux du coup le footer remonte*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image img {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.image iframe {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.video iframe {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@keyframes slide {
  from {
    transform: scale(90%);
  }
  to {
    transform: scale(100%);
  }
}

.section.active {
  display: block; /* Afficher seulement les sections avec la classe active */
  animation: slide 0.4s ease-in;
}

/* ----------------------------------------
----------------FOOTER------------------ 
---------------------------------------- */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em 0;
  margin-top: auto;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ----------------------------------------
----------------720p------------------ 
---------------------------------------- */

@media only screen and (max-width: 1400px) {
  header .social-media {
    left: 2%;
  }

  .box {
    width: 350px;
    height: 350px;
  }

  .box-container {
    width: 1082px;
  }
}

@media only screen and (max-width: 992px) {
  header .social-media {
    display: none;
  }

  .box-container {
    width: 716px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    gap: 1em;
    padding-top: 6em;
    margin: 1em 0;
  }

  header .social-media {
    display: none;
  }

  .buttons-container {
    margin: 2em auto;
    width: 80%;
    flex-wrap: wrap;
    row-gap: 1em;
  }

  .box-container {
    width: 350px;
  }

  footer {
    flex-direction: column;
  }

  .button-stars {
    position: absolute; /* Position fixe pour maintenir le bouton en haut */
    top: 3em; /* Décalage par rapport au haut de la fenêtre */
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
  }

  /* Styles pour le bouton d'agrandissement */
  .enlarge-button {
    display: none;
  }

  .box-description {
    display: none;
  }
}
